{% extends 'base.html' %}
  
{% block styles %}
  <link rel="stylesheet" href="{{url_for('static',filename='styles/styles.css')}}">
{% endblock %}

{% block content %}
  <h1>Color Controller</h1>
  <input type="color" name="colorPicker" id="colorPicker">
  <button id="offButton">Off</button>
  <button id="randomButton">Random Color</button>

  <h1>Color Grid</h1>
  <input type="color" name="GridColorSelector" id="GridColorSelector">
  <div id="lightgrid">
    {% for row in rows %}
    <div class="lightrow" data-row="{{ row }}">
        {% for col in columns %}
        <input class="boxColor" type="button" data-col="{{ col }}">
        {% endfor %}
    </div>
    {% endfor %}

    <form method=post enctype=multipart/form-data action="{{url_for('main.upload_file')}}">
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
  </div>
  






{% endblock %}


{% block scripts %}
    <script src="{{url_for('static',filename='scripts/index.js')}}"></script>
{% endblock %}
